<h1>Profile page for <%= @user.username %> </h1>

<h2><a href="/survey/create">Create a new survey</a></h2>

<h2>Surveys Created</h2>
<table>
  <tr>
    <th>Survey ID</th>
    <th>Title</th>
    <th>For Survey Takers</th>
    <th>Created at</th>
  <tr>
<% @surveys.order("created_at DESC").each do |survey| %>
  </tr>
    <td><%= survey.id %></td>
    <td><a href="/survey/results/<%= survey.url %>"><%= survey.title %></td>
    <td><a href="/survey/take/<%= survey.url %>">/survey/take/<%= survey.url %></a></td>
    <td><%= survey.created_at %></td>
  </tr>
<% end %>
</table>
 
<h2>Surveys Taken</h2>

<table>
  <tr>
    <th>Survey ID</th>
    <th>Title</th>
    <th>Survey Submission ID</th>
    <th>Taken at</th>
  <tr>
<% @survey_submissions.order("created_at").each do |survey_submission| %>
  </tr>
    <td><%= survey_submission.survey_id %></td>
    <td><%= survey_submission.survey.title %></td>
    <td><%= survey_submission.id %></td>
    <td><%= survey_submission.created_at %></td>
  </tr>
<% end %>
</table>

