<h1>Profile page for <%= @user.username %> </h1>

<h2><a href="/survey/create">Create a new survey</a></h2>

<h2>Surveys Created</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>URL</th>
  <tr>
<% @surveys.each do |survey| %>
  </tr>
    <td><%= survey.id %></td>
    <td><%= survey.title %></td>
    <td><a href="/survey/results/<%= survey.url %>">http://localhost:9393/<%= survey.url %></a></td>
  </tr>
<% end %>
</table>
 
<h2>Surveys Taken</h2>

<table>
  <tr>
    <th>Survey ID</th>
    <th>Survey Submission ID</th>
    <th>Title</th>
  <tr>
<% @survey_submissions.each do |survey_submission| %>
  </tr>
    <td><%= survey_submission.survey_id %></td>
    <td><%= survey_submission.id %></td>
    <td><%= survey_submission.survey.title %></td>
  </tr>
<% end %>
</table>

