<h1>Results for "<%= @survey.title %>"</h1>

<% if @survey.survey_submissions.empty? %>
<p>No one has taken your survey yet</p>
<p>Maybe you want to send them the <a href="/survey/take/<%= @survey.url %>">link</a>?</p>
<% else %>

<h2>Answers Requiring Text Input</h2>
  <% @text_questions.each do |question| %>
    <div>
      <%= question.title %>
      <ul>
        <% question.question_responses.each do |response| %>
          <li><%= response.survey_submission.id %>: <%= response.answer %></li>
        <% end %>
        </ul>
    </div>
  <% end %>


<h2>Multiple Choice Answers</h2>
  <% @mc_questions.each do |question| %>
        <div>
      <%= question.title %>
      <ul>
        <% question.question_responses.each do |response| %>
          <% if response.answer == nil %>
            <li><%= response.survey_submission.id %>: <%= response.choice.title %></li>
          <% else %>
            <li><%= response.survey_submission.id %>: <%= Choice.find(response.answer).title %></li>
          <% end %>
        <% end %>
        </ul>
    </div>
  <% end %>

<% end %>
